<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Works</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <% @work.in_groups_of(4, false).each do |group| %>
      <div class='row'>
        <% group.each do |product| %>
          <div class='col-md-3' style="padding: 10px;">
            <div class="home">
              <%= link_to work_path(product) do %>
                <%= image_tag(product.image_url(:large).to_s, class: "work_img") %><br>
              <% end %>
              <h4><%= product.title %></h4>
              <div><%= product.description %></div>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>
          </div>
        <% end %>
      </div>
    <% end %><br><br>
  <div class="col-md-12" style="font-size: 16px;">
    <%= paginate @work %>
    <%= page_entries_info @work %>
  </div>
</section>
