<div class="topnav" id="myTopnav">
  <%= link_to 'Home', root_path, class: 'home_refresh' %>
  <%= link_to 'About ODI', about_index_path %>
  <%= link_to 'ODI Governance', board_of_trustees_path %>
  <%= link_to 'Invest / Donate', plans_path %>
  <%= link_to 'Contact / Feedback', contact_index_path %>
  <%= link_to 'Frequently Asked Questions', faq_index_path %>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div class="logo_container">
  <%= link_to root_path, class: 'home_refresh' do %>
  <%= image_tag('odi_logo_home.png', class: 'logo') %>
  <% end %>
</div>

<!-- <script type="text/javascript">
  $('.home_refresh').click(function (event) {
    // event.onClick = window.history.go(0); // Prevent link from following its href
  });
</script> -->
