<!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Pricing <span>Plans</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">ODI Retainer Plans</p>
        </div>

        <div class="row pricing-tables">
          <% @plans.each do |plan| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-gg"></i>
              </div>
              <div class="pricing-details">
                  <h2><%= plan[:name] %></h2>
                  <span class="plan_span">Monthly Retainer of <%= (plan[:amount]/100) %>$</span>
                  <ul>
                    <li>Educate</li>
                    <li>Empower</li>
                    <li>Quality Assurance</li>
                    <li>Provide prescribed medication</li>
                  </ul>
                  <%= form_tag('/subscription_checkout', {method: :post, plan: plan}) do %>
                    <input name="plan_id" type="hidden" value="<%= plan[:id] %>"></input>
                    <script src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-amount="<%= (plan[:amount]) %>"
                      data-currency="<%= plan[:currency] %>"
                      data-email="customer@example.com"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-panel-label="donate">
                    </script>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <!-- End Pricing Table Section -->
