  <!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a donation using <span>Mobile Money</span></h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a donation using Mobile Money</p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="icon">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="pricing-details">
              <h2>Donate using Mobile Money</h2>
              <span>Donate using Mobile Money</span>
              <ul>
                <li>Educate</li>
                <li>Empower</li>
                <li>Quality Assurance</li>
                <li>Provide prescribed medication</li>
              </ul>
              <form method="post" action="https://dusupay.com/dusu_payments/dusupay" target="_blank">
                <input type="hidden" name="dusupay_merchantId" value="1000" required>
                <input type="hidden" name="dusupay_amount" value="5000" optional>
                <input type="hidden" name="dusupay_currency" value="UGX" required>
                <input type="hidden" name="dusupay_itemId" value="1" required>
                <input type="hidden" name="dusupay_itemName" value="Donation to ODI" required>
                <input type="hidden" name="dusupay_transactionReference" value="1" required>
                <input type="hidden" name="dusupay_redirectURL" value="<% root_path %>" optional>
                <input type="hidden" name="dusupay_successURL" value="<% root_path %>" optional>
                <!--<input type="hidden" name="dusupay_logo" value="" optional>-->
                <!--<input type="hidden" name="dusupay_hash" value="hashValue..." required>-->
                <input type="image" name="submit" src="https://dusupay.com/img/paybuttons/dusupaybtn4.png" />
              </form>
            </div>
          </div>
        </div>

        <div id="pricing" class="section pricing-section">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a one time <span>Contribution</span></h2>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
              <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">ODI one time Donation Plans</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                <div class="icon">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="pricing-details">
                  <h2>Donate to our UGX Account</h2>
                  <span>Equity Bank Ltd</span>
                  <ul>
                    <li>One Dollar HIV initiative</li>
                    <li>Account: 1003200762582</li>
                    <li>Swift CODE: EQBLUGKA</li>
                    <li>Branch Code: 1003</li>
                    <li>Branch Post Code: 30</li>
                    <li>Account Phone Number: <br> +256 772 633 920</li>
                    <li>Bank Branch name: Katwe</li>
                    <li>Bank Address: Kampala, Uganda</li>
                    <li>Bank city/suburb: Kampala</li>
                    <li>Bank State/Province: Uganda</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                <div class="icon">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="pricing-details">
                  <h2>Make a one time donation</h2>
                  <span>Make donation through Paypal</span>
                  <ul>
                    <li>With PayPal, you can make a donation</li>
                    <li>Login into Paypal</li>
                    <li>Click Send & Request at the top of the page.</li>
                    <li>Select from the 3 options.*</li>
                    <li>Enter the email address or mobile number to whom you are sending money.</li>
                    <li>Enter the amount you want to send and click Continue.</li>
                    <li>Review and confirm the information on the screen and click Send Money Now.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                <div class="icon">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="pricing-details">
                  <h2>Donate to our USD Account</h2>
                  <span>Equity Bank Ltd</span>
                  <ul>
                    <li>One Dollar HIV initiative</li>
                    <li>Account: 1003200762583</li>
                    <li>Swift CODE: EQBLUGKA</li>
                    <li>Branch Code: 1003</li>
                    <li>Branch Post Code: 30</li>
                    <li>Account Phone Number: <br> +256 772 633 920</li>
                    <li>Bank Branch name: Katwe</li>
                    <li>Bank Address: Kampala, Uganda</li>
                    <li>Bank city/suburb: Kampala</li>
                    <li>Bank State/Province: Uganda</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div id="pricing" class="section pricing-section">
            <div class="container">
              <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a regular <span>Payment</span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
                <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">ODI Retainer Plans</p>
              </div>

              <div class="row pricing-tables">
                <% @plans.each do |plan| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <div class="icon">
                      <i class="fa fa-gg"></i>
                    </div>
                    <div class="pricing-details">
                        <h2><%= plan[:name] %></h2>
                        <span class="plan_span">Monthly Retainer of <%= (plan[:amount]/100) %>$</span>
                        <ul>
                          <li>Educate</li>
                          <li>Empower</li>
                          <li>Quality Assurance</li>
                          <li>Provide prescribed medication</li>
                        </ul>
                        <%= form_tag('/subscription_checkout', {method: :post, plan: plan}) do %>
                          <input name="plan_id" type="hidden" value="<%= plan[:id] %>"></input>
                          <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-amount="<%= (plan[:amount]) %>"
                            data-currency="<%= plan[:currency] %>"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-label="Donate <%= ((plan[:amount]).to_i)/100 %> <%= plan[:currency] %>" >
                          </script>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->
